.home-page-events-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-page-events-home-page-events {
  width: 100%;
  height: 4035px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-page-events-image4998398713e451325865o1 {
  top: 67px;
  left: -125px;
  width: 2114px;
  height: 1009px;
  position: absolute;
}
.home-page-events-rectangle2 {
  top: 1037px;
  left: -7px;
  width: 1959px;
  height: 100px;
  position: absolute;
  border-radius: 15px;
}
.home-page-events-rectangle14 {
  top: 2080px;
  left: -10px;
  width: 1959px;
  height: 100px;
  position: absolute;
  border-radius: 15px;
}
.home-page-events-frame15-footer {
  top: 3771px;
  left: 0px;
  width: 1920px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(102, 163, 255, 1);
}
.home-page-events-items1 {
  gap: 24px;
  top: 48px;
  left: 1056px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-page-events-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text12 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text14 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text16 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-items2 {
  gap: 24px;
  top: 48px;
  left: 1355px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-page-events-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text20 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text22 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text24 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-items3 {
  gap: 24px;
  top: 48px;
  left: 1653px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-page-events-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text28 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text30 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text32 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text34 {
  top: 22px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-social-icons {
  gap: 8px;
  top: 112px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-page-events-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.home-page-events-icon1 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-events-icon2 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.home-page-events-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.home-page-events-icon3 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-events-icon4 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.home-page-events-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.home-page-events-icon5 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-events-icon6 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
.home-page-events-buttons-icon4 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.home-page-events-icon7 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-events-icon8 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.home-page-events-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
.home-page-events-rectangle1 {
  top: 1011px;
  left: 1088px;
  width: 767px;
  height: 152px;
  position: absolute;
  border-radius: 15px;
}
.home-page-events-text36 {
  top: 1011px;
  left: 1237px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-items4 {
  gap: 48px;
  top: 1054px;
  left: 144px;
  width: 307px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-page-events-text38 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.home-page-events-text42 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.home-page-events-hamburger1 {
  top: 1187px;
  left: 673px;
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-events-vector {
  top: 1233.7479248046875px;
  left: 40px;
  width: 40px;
  height: 30px;
  position: absolute;
}
.home-page-events-rectangle9 {
  top: 1059px;
  left: 21px;
  width: 58px;
  height: 9px;
  position: absolute;
}
.home-page-events-rectangle10 {
  top: 1079px;
  left: 21px;
  width: 58px;
  height: 9px;
  position: absolute;
}
.home-page-events-rectangle11 {
  top: 1099px;
  left: 21px;
  width: 58px;
  height: 9px;
  position: absolute;
}
.home-page-events-image3209201accountciecleplaceholderroundusericon1 {
  top: 1407px;
  left: 1391px;
  width: 371px;
  height: 371px;
  position: absolute;
}
.home-page-events-text44 {
  top: 1811px;
  left: 1423px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-text46 {
  top: 1219px;
  left: 144px;
  color: rgba(0, 0, 0, 1);
  width: 797px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-text48 {
  top: 2090px;
  left: 574px;
  color: rgba(255, 255, 255, 1);
  width: 797px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-text50 {
  top: 1399px;
  left: 144px;
  color: rgba(0, 0, 0, 1);
  width: 1093px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: justified;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-frame14-header-navigation {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 101px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(102, 163, 255, 1);
}
.home-page-events-text60 {
  top: 19px;
  left: 864px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-text62 {
  top: 19px;
  left: 109px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-graphic {
  top: 9px;
  left: 1817px;
  width: 82px;
  height: 82px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 48px;
  background-color: rgba(180, 219, 255, 1);
}
.home-page-events-text64 {
  top: 33px;
  left: 1697px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-events-image1 {
  top: 13px;
  left: 17px;
  width: 74px;
  height: 74px;
  position: absolute;
}
.home-page-events-rectangle16 {
  top: 2180px;
  left: 0px;
  width: 1920px;
  height: 1591px;
  position: absolute;
}
.home-page-events-magnifyingglasswithfocusonpaper1 {
  top: 2180px;
  left: -550px;
  width: 2885px;
  height: 530px;
  position: absolute;
}
.home-page-events-consultationwith-attorney768x5121 {
  top: 2711px;
  left: 0px;
  width: 1920px;
  height: 530px;
  position: absolute;
}
.home-page-events-rectangle17 {
  top: 135px;
  left: 922px;
  width: 76px;
  height: 12px;
  position: absolute;
  border-radius: 40px;
}
.home-page-events-rectangle18 {
  top: 135px;
  left: 1040px;
  width: 76px;
  height: 12px;
  position: absolute;
  border-radius: 40px;
}
.home-page-events-rectangle19 {
  top: 135px;
  left: 804px;
  width: 76px;
  height: 12px;
  position: absolute;
  border-radius: 40px;
}
.home-page-events-teaching-studentsp28035153800x5331 {
  top: 3239px;
  left: 0px;
  width: 1920px;
  height: 533px;
  position: absolute;
}
.home-page-events-rectangle27 {
  top: 147px;
  left: 90px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.home-page-events-rectangle28 {
  top: 151.5px;
  left: 95.5px;
  width: 90px;
  height: 90px;
  position: absolute;
}
.home-page-events-line6 {
  top: 196.5px;
  left: 122.5px;
  width: 35px;
  height: 1px;
  position: absolute;
}
.home-page-events-line7 {
  top: 179px;
  left: 140px;
  width: 35px;
  height: 1px;
  position: absolute;
}
.home-page-events-text66 {
  top: 2111px;
  left: 78px;
  color: rgba(255, 255, 255, 1);
  width: 438px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
